.profile{
    text-align: center;
    margin-top: 100px;
    color: rgb(255, 255, 255);
}

/* a{
    text-decoration: none;
    color: blue;
} */

.plano{
    background:url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRWqWf9NCWWZ6OX0gZpYuwvy9yl6nygp1IrJNnxkRDFcya_le4y4N4Vn0jSZhfXfrXX75M&usqp=CAU")
}
.miranha{
    right: 400px;
    width: 400px;
}
